.global-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

app-topbar {
    width: 100%;
}

.page-navigation-menu {
    width: 250px;

    +.page-navigation-container {
        padding-left: 270px;
    }
}

