<div class="page-content shell">
    <div class="page">
        <section class="paragraph">
            <span>These are the basic styles</span>
        </section>
        
        <section class="types">
            <div class="col--one">
                <h1 class="style-title">Typography</h1>
        
                <h3>Title</h3>
                <h1 class="title">Personal Information</h1>
        
                <h3>Body</h3>
                <p>View Banking documents by groups (Worksheets, Bank Reports, Check Registers and Claim Refunds)</p>
        
                <h3>Label</h3>
                <h4 class="label">Dependent Status</h4>
            </div>
        </section>
        
        <section class="buttons">
            <h1 class="style-title">Buttons</h1>
        
            <div class="col--three">
              <div class="inner">
                <button class="btn btn--primary">
                  Primary
                </button>
              </div>
        
              <div class="inner">
                <button class="btn btn--secondary">
                  Secondary
                </button>
        
              </div>
        
              <div class="inner">
                <button class="btn btn--small">
                  + Add dependant
                </button>
              </div>
        
            </div>
        </section>
        
        <section class="radio-button">
            <h1 class="style-title">Radio Buttons</h1>
        
            <label class="container-checkbox">
              <input name="radiobutton" type="radio" value="1"> Radio Button Text
              <span class="checkmark"></span>
            </label>
        </section>
        
        <section class="dropdown">
            <h1 class="style-title">Dropdowns and Inputs</h1>
        
            <form action="">
        
              <span class="label">Input Title</span>
              <input name="name" placeholder="9/19/2016 - 9/31/2016">
        
              <span class="label">Dropdown Title</span>
              <select name="option" form="option">
                <option value="option1">9/19/2016 - 9/31/2016</option>
                <option value="option2">9/19/2016 - 9/31/2016</option>
                <option value="option3">9/19/2016 - 9/31/2016</option>
                <option value="option4">9/19/2016 - 9/31/2016</option>
              </select>
        
            </form>
        </section>
        
        <section class="table">
          <h1 class="style-title">Tables</h1>
        
            <div class="filter-btn">
                <span class="icon-bars"></span>
            </div>
        </section>
        
        <section class="high-tabs">
          <h1 class="style-title">Highest Level Tabs</h1>
        
          <div class="component">
            <div class="high-tab one active">
              <span class="icon"></span>
              Enroll New Employee
            </div>
        
            <div class="high-tab two inactive">
              <span class="icon"></span>
              Manage Employees
            </div>
          </div>
        
        
        </section>
        
        <section class="content-tabs">
          <h1 class="style-title">Navigation tabs</h1>
        
          <nav class="tabs">
            <ul>
              <li>
                <a class="active">Manage Benefits coverage</a>
                <a>View Claims</a>
                <a>Cost Tracker</a>
                <a>Print/View/Request ID Cards</a>
              </li>
            </ul>
          </nav>
        </section>
        
        <section class="cards">
          <h1 class="style-title">Cards</h1>
        
          <h3 class="label">Account Information</h3>
        
            <div class="col--two info-card">
                <div class="info-card__column">
                    <span class="info-item-title">Account</span>
                    <span class="info-item">4080104 - April Migration Testing</span>
                </div>
        
                <div class="info-card__column">
                    <span class="info-item-title">Branch</span>
                    <span class="info-item">001 - Branch 001</span>
                </div>
            </div>
        </section>
        
        <section class="pagination">
          <h1 class="style-title">Pagination</h1>
          <div class="col--one">
              <div class="pagination">
                  <a class="pagination__arrow" href="#"><span class="arrow arrow--left"></span></a>
                  <a class="pagination__number" href="#">1</a>
                  <a class="pagination__number active" href="#">2</a>
                  <a class="pagination__number" href="#">3</a>
                  <a class="pagination__number" href="#">4</a>
                  <a class="pagination__number" href="#">5</a>
                  <a class="pagination__number" href="#">6</a>
                  <a class="pagination__arrow" href="#"><span class="arrow arrow--right"></span></a>
              </div>
          </div>
        
        
        </section>
        
        <section class="accordion">
          <div class="col--one">
              <h1 class="style-title">Accordion Buttons</h1>
        
              <div class="accordion">
                  <span class="accordion__button">+</span> <p class="accordion__label">Open More Information</p>
              </div>
        
              <div class="accordion">
                  <span class="accordion__button">-</span> <p class="accordion__label">Close More Information</p>
              </div>
          </div>
        </section>
        
        <section class="breadcrumb">
          <h1 class="style-title">Breadcrumb</h1>
          <div class="col--one">
            <div class="breadcrumb">
              <ul>
                <li><span class="breadcrumb__item"> Dashboard</span></li> <span class="breadcrumb__arrow"> &#x23e9; </span>
                <li><span class="breadcrumb__item"> Leave</span></li> <span class="breadcrumb__arrow"> &#x23e9; </span>
                <li><span class="breadcrumb__item"> Intakes</span></li>
              </ul>
            </div>
          </div>
        </section>
    </div>
</div>