@import 'mixin.breakpoints';

//GRID CONFIGURATION
.shell {
  display: grid;
  grid-template-columns: $desktop-padding auto $desktop-padding;
  grid-template-rows: auto;
  min-height: 83%;

  @include large-phone {
    grid-template-columns: $mobile-padding auto $mobile-padding;
  }

  .page {
    grid-column: 2 / 3;
    padding: 40px 0;

    @include up-to-tablet {
      grid-column: 1 / 4;
    }

    section {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(1, auto);
      padding: 15px 8px;
    
      .col {
        &--one {
          display: grid;
          grid-template-columns: repeat(1, auto);
          grid-template-rows: auto;
        }
    
        &--two {
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: auto;
        }
    
        &--three {
          display: grid;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: auto;
        }
    
        &--four {
          display: grid;
          grid-template-columns: repeat(4, auto);
          grid-template-rows: auto;
        }
      }
    
      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

$columns: 12; // Number of columns in the grid system

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;

  .col {
    padding: 0.75rem;
  }

  @for $width from 1 through $columns {
    .col-#{$width} {
      flex-basis: $width / $columns * 100%;
    }  
  }
}
