body,
p,
span {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $main-gray;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}
