$white: #ffffff;

$main-gray: #333333;
$dark-link: #222222;
$main-blue: #188ccc;
$main-blue--hover: #0c4463;
$accordion-blue: #1460aa;
$main-blue--hover: #1772a4;
$white--hover: #dcedf7;
$main-blue--active: #2cb1fa;
$gray-secondary-nav: #d8d8d8;
$gray-secondary-nav--active: #eeeeee;

$input-border-gray: #c8c9c7;
$radio-button-outline: #7a7a7a;
$search-input-icon: #58595b;
$filter-btn-gray: #a8a8a8;
$border-gray: #e5e5e5;
$tabs-fill: #f6f6f6;

$orange-pagination: #f68621;

$tab-active: #188bca;

//CUSTOM FONTS
$icons: 'fontcustom-icons', sans-serif;


// VARIABLE MEASUREMENTS
$desktop-padding: 60px;
$mobile-padding: 20px;

// MEDIA BREAKPOINTS
$xxsmall-width: 320px;
$xsmall-width: 480px;
$small-width: 667px;
$medium-width: 768px;
$large-width: 1024px;
$xlarge-width: 1224px;
